*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.label{
  display: inline-block;
  color: #FFD200;  
}

nav{
  /* font-family: 'Iceland', cursive; */
  font-family: 'Gudea', sans-serif;
  background-color: black;
  position: fixed; height: 70px;
  width: 100%;
  text-align: center;
}

nav a{
  padding: 0 30px;
  font-size: 2em;
  line-height: 70px;

  -webkit-transition: color .3s;
}

nav a:hover{
 color: #FFD200;  
}

.main-content{
  font-size: 2.3em;
  color: white;
  padding-top: 70px;
  font-family: 'Gudea', sans-serif;
}

.main-content > div:not(:first-child){
  display: none;
}

.main-content h1{
  font-size: 4em;
}
